/*FONTS*/

$font-main: 'Gilroy',sans-serif;

/*FONTS*/

/*COLORS*/

$colorWhite: #fff;
$colorDark:#000;
$colorSecondaryDark: #9E9DA2;
$colorAccent: #75BF7A;
$colorBackground: #F9F9F9;
$colorFooterNav: #272042;

/*COLORS*/

/*MEDIA*/

$tablet: 768px;
$phone: 660px;

/*MEDIA*/